.range-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.range-normal {
    width: 500px;
}

.code{
    background: rgb(205, 199, 199);
    padding: 20px 50px;
    border-radius: 10px;
    margin: 10px;
}

.filter {
    margin-top: 20px;
    font-weight: bold;
}